<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />


    <link href="~/Content/jquery-easyui-1.4.2/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.4.2/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.4.2/demo/demo.css" rel="stylesheet" />
    <script src="~/Content/jquery-easyui-1.4.2/jquery.min.js"></script>
    <script src="~/Content/jquery-easyui-1.4.2/jquery.easyui.min.js"></script>
    @*    <script src="~/jquery-easyui-1.4.2/locale/easyui-lang-zh_CN.js"></script>*@
    <script src="~/Content/TimeFormat.js"></script>

    <script type="text/javascript">



        function JsonDateFormat(value2) {
            var value1 = new Date(parseInt(value2.replace("/Date(", "").replace(")/", ""), 10));
            return value1.format("yyyy-MM-dd");
        }

        function formatYN(value, row, index) {
            if (value == "N") return "否";
            else return "是";
        }


        function setCookie(key, value, expiredays) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + expiredays);
            document.cookie = key + "=" + escape(value.toString()) + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString());
        }

        function getCookie(key) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(key + "=");
                if (c_start != -1) {
                    c_start = c_start + key.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    var r = unescape(document.cookie.substring(c_start, c_end));
                    return eval('(' + r + ')');
                }
            }
            return ""
        }
        /*
        function checkCookie() {
            username = getCookie('username')
            if (username != null && username != "")
            { alert('Welcome again ' + username + '!') }
            else
            {
                username = prompt('Please enter your name:', "")
                if (username != null && username != "") {
                    setCookie('username', username, 365)
                }
            }
        }
        */

        //共用函数，封装内部调用，缓存计算结果
        function memorize(key) {
            var result = getCookie(key);
            if (result != null && result != "") {
                return result;
            }
            else {
                result = "";
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "/Dic/GetDicColByTableCode/" + key,
                    dataType: "json",
                    success: function (data) {
                        if (data != undefined && $.isArray(data)) {
                            result = data;
                            setCookie(key, result, 1);
                        }
                    }
                });
            }
            //for (var p  in result) {
            //    console.log("在循环输出中p=" + p);
            //}
            console.log("result=" + result);
            return result;
        }
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style type="text/css">
        #fm {
            margin: 0;
            padding: 10px 30px;
        }

        .ftitle {
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .fitem {
            margin-bottom: 5px;
        }

            .fitem label {
                display: inline-block;
                width: 120px;
            }

            .fitem input {
                width: 150px;
            }
    </style>


    <title>@ViewBag.Title</title>
</head>
<body>

    <span>这是在RenderBody之前</span>
    <div style="height: 50px;"></div>
    @RenderBody()
    <div style="height: 50px;"></div>
    <span>这是在RenderBody之后</span>
    @*
    引入此语句会导致easyui插件不能正常使用
    @Scripts.Render("~/bundles/jquery")
    
    *@
    @RenderSection("scripts", required: false)
</body>
</html>
