<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/jquery-easyui-1.4.2/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.4.2/themes/icon.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.4.2/demo/demo.css" rel="stylesheet" />
    <script src="~/jquery-easyui-1.4.2/jquery.min.js"></script>
    <script src="~/jquery-easyui-1.4.2/jquery.easyui.min.js"></script>
    @*<script src="~/jquery-easyui-1.4.2/locale/easyui-lang-zh_CN.js"></script>*@


    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <span>这是在RenderBody之前</span>
    <div style="height: 50px;"></div>
    @RenderBody()
    <div style="height: 50px;"></div>
    <span>这是在RenderBody之后</span>
    @*
    引入此语句会导致easyui插件不能正常使用
    @Scripts.Render("~/bundles/jquery")
    
    *@
    @RenderSection("scripts", required: false)
</body>
</html>
